extends layouts/main 

block content 
    .chats
        each chat in chats 
            if chat.link 
                div
                    span.chat__nickname= chat.author.nickname
                    img.chat__gif(src=chat.link)
            else
                div
                    span.chat__nickname= chat.author.nickname 
                    span.chat__msg= chat.message
    .form__container
        form(action=routes.messages, method="post")
            input(type="text", name="message" placeholder="Message")
            input(type="submit", value="Submit")
        